<div class="row">
    <div class="col-xs-12 col s12">
        <div class="row ">
            <div class="col-lg-12 col l12 text-right">
                <button class="pushy-link btn btn-primary" type="button">X</button>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">Cart contents</div>
            <div class="panel-body cart-body">
                <div class="container-fluid">
                    <div class="row cart-row">
                        <div class="col-xs-4 col-md-2 col s4 m2">
                            <img class="img-responsive" src="/uploads/Bag/bag.jpg" alt="Luxury Bag product image"> 
                        </div>
                        <div class="cart-item-row text-left col-xs-12 col-md-7 col s12 m7">
                            <p>
                                <a class="cart-link" href="/product/Bag">Luxury Bag</a>
                            </p>
                            <p>
                                &nbsp;
                            </p>
                            <p>
                                <div class="form-group">
                                    <div class="col-lg-5 col l5 no-pad-left">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-qty-minus" type="button">-</button>
                                            </span>
                                            <input type="number" class="form-control cart-product-quantity input-sm text-center" data-id="5c2b8b3e1e036c00160493fd" id="0"
                                                maxlength="2" value="2">
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary btn-qty-add" type="button">+</button>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="pull-right">
                                        <button class="btn btn-sm btn-danger btn-delete-from-cart" data-id="5c2b8b3e1e036c00160493fd" type="button"><i class="fa fa-trash" data-id="5c2b8b3e1e036c00160493fd" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </p>
                        </div>
                        <div class="col-xs-12 col-lg-4 col s12 l4 cart-item-row text-right no-pad-right">
                            <strong>£3.00</strong>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="cart-contents-shipping col-md-12 col m12 no-pad-right">
                            <div class="text-right">
                                Shipping:
                                <strong>£10.00</strong>
                            </div>
                            <div class="text-right">
                                Total:
                                <strong>£13.00</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col s6 text-left align-right">
                <button class="btn btn-danger" id="empty-cart" type="button">Empty cart</button>
            </div>
            <div class="text-right align-right col-xs-6 col s6">
                <a href="/checkout" class="btn btn-default">Checkout</a>
            </div>
             
        </div>
    </div>
</div>